@import "tailwindcss";

:root {
  --primary-blue: #5E7BC4;
  --primary-blue-hover: #4F6FB8;
  --secondary-orange: #F3B26C;
  --secondary-orange-hover: #e29e54;
  --hero-bg: #EEF2FC;
  --text-dark: #292A2F;
  --text-muted: #53627A;
}

body {
  color: var(--text-dark);
  background-color: #FFFFFF;
  font-family: var(--font-poppins), system-ui, -apple-system, sans-serif;
}